

h1{
    font-family: cursive;
}


.Art{
    display: flex;
    background-color: rgb(138, 204, 206);
    width: 1000px;

}

.Art > div{
    margin: 0px auto;
    padding: 0px auto;
    font-size: 30px;
    
    
}
body {
    margin: 0;
    width: 1000px;
    height: 100px;
}

div {
    width: auto;
    
}



.piece2{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 200px solid rgb(45, 45, 75);
    position:  relative;
    left: 0px;
    top: 0px;
    z-index: 2;
    
}

.piece3{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 200px solid rgb(94, 94, 165);
    position:relative;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.piece4{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 200px solid rgb(94, 94, 165);
    position: relative;
    left: -350px;
    top: 0px;
    z-index: 1;
}

.piece5{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 200px solid rgb(45, 45, 75);
    position:  relative;
    left:-450px;
    top: 0px;
    z-index: 1;
    
}

.piece6{
    width: 100px;
    height: 100px;
    border: 1px;
    border-radius: 50%;
    background: rgb(189, 151, 15);
    position: relative;
    left: -700px;
}






